package algorithms

import "github.com/TvGelderen/algo-alcove/view/pages"

templ Algorithm(algorithm string) {
    @pages.Algorithms() {
        <h2 class="text-xl md:text-2xl">{ algorithm }</h2>
    }
}
