.menu-icon-wrapper {
    --size: 3.5px;
    cursor: pointer;
    width: calc(var(--size) * 10);
    height: calc(var(--size) * 8);
    margin-bottom: var(--size); 
}

.menu-icon-wrapper .menu-icon {
    width: calc(var(--size) * 10);
    height: var(--size);
    position: relative;
    background: white;
    transform: translateY(calc(var(--size) * 4));
    transition: background 10ms 300ms ease;
}

.menu-icon-wrapper .menu-icon:before,
.menu-icon-wrapper .menu-icon:after {
    content: '';
    position: absolute;
    width: calc(var(--size) * 10);
    height: var(--size);
    background: white;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
}

.menu-icon-wrapper .menu-icon:before {
    top: calc(var(--size) * -3);
}

.menu-icon-wrapper .menu-icon:after {
    top: calc(var(--size) * 3);
}

header[data-open="true"] .menu-icon-wrapper .menu-icon {
    background: transparent;
}

header[data-open="true"] .menu-icon-wrapper .menu-icon:after,
header[data-open="true"] .menu-icon-wrapper .menu-icon:before {
    top: 0;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
}

header[data-open="true"] .menu-icon-wrapper .menu-icon:before {
    transform: rotate(45deg);
}

header[data-open="true"] .menu-icon-wrapper .menu-icon:after {
    transform: rotate(-45deg);
}

nav {
    transition: bottom 400ms 100ms ease-in-out;
}

header[data-open="false"] nav {
    bottom: 100%;
}

header[data-open="true"] nav {
    flex-direction: column;
    bottom: 0;
}
